/* section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: Roboto;
} */
.Projects {
  top: 50px;
}
.Projects h1 {
  font-size: 40pt;
  font-weight: 500;
  color: #363638;
}

.Projects .container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.Projects .item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 410px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.Projects .item:hover {
  cursor: pointer;
}

.Projects .item * {
  transition: all 0.35s ease-in-out;
}

.Projects img {
  max-width: 100%;
  vertical-align: top;
  height: 310px;
}

.Projects .item:hover img {
  opacity: 0;
}

.Projects .text {
  width: 80%;
  height: 90%;
  position: absolute;
  top: -130px;
  left: 10%;
  color: #01a2ac;
}

.Projects .text h3 {
  color: black;
}

.Projects .item:hover .text {
  top: 20%;
}

.Projects .item:hover .button {
  bottom: 20%;
}

.Projects .item .button {
  position: absolute;
  bottom: -100px;
  left: 25%;
  width: 50%;
  border: 3px solid #01a2ac;
  padding: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.Projects .button:hover {
  background-color: #01a2ac;
  color: #f5f5f5;
}

/* Modal */

.Projects .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.Projects .modal-content {
  background-color: #f5f5f5;
  margin: 5% auto;
  box-sizing: border-box;
  width: 700px;
  max-height: 714px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.Projects .scale {
  animation: scale 0.5s;
  animation-fill-mode: forwards;
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.Projects #img {
  width: 100%;
  height: 450px;
}

.Projects #details {
  padding: 25px;
  text-align: left;
  position: relative;
  height: 264px;
  box-sizing: border-box;
  border-top: 1px solid #363638;
}

.Projects #details * {
  transition: all 0.3s;
}

.Projects #title {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.Projects #details .button {
  position: absolute;
  width: 30%;
  background-color: #01a2ac;
  color: #f5f5f5;
  text-align: center;
  left: 25px;
  bottom: 35px;
  padding: 15px;
}

.Projects #details i {
  position: absolute;
  bottom: 30px;
  right: 25px;
  font-size: 3rem;
  color: #01a2ac;
}

.Projects #details .button:hover,
i:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Close Button */
.Projects .close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
}

.Projects .close:hover,
.Projects .close:focus {
  color: #363638;
  text-decoration: none;
  cursor: pointer;
}

.Projects .Heading {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #104cba;
  font-weight: 600;
  background: linear-gradient(to right, #104cba, #00ccff, #104cba);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 220% 150%;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-left: 300px;
  width: 500px;
}

@media only screen and (max-width: 767px) {
  .Projects .Heading {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #104cba;
    font-weight: 600;
    background: linear-gradient(to right, #104cba, #00ccff, #104cba);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-size: 220% 150%; */
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-left: 20px;
    padding: 20px;
    width: 500px;
  }
}
.Projects .Heading::after {
  position: absolute;
  left: -40px;
  content: "";
  height: 10px;
  width: 32px;
  background: url(https://validthemes.live/themeforest/crysa/assets/img/shape/shape_line.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 8px;
}

@media only screen and (max-width: 767px) {
  .Projects .Heading::after {
    position: absolute;
    left: -16px;
    content: "";
    height: 10px;
    width: 32px;
    background: url(https://validthemes.live/themeforest/crysa/assets/img/shape/shape_line.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 33px;
  }
}
